<div class="mat-elevation-z8">
    <table mat-table [dataSource]="movers">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID</th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="moverName">
            <th mat-header-cell *matHeaderCellDef> Имя Водителя</th>
            <td mat-cell *matCellDef="let element">{{element.user.name}} {{element.user.surname}}</td>
        </ng-container>

        <ng-container matColumnDef="carName">
            <th mat-header-cell *matHeaderCellDef> Название машины</th>
            <td mat-cell *matCellDef="let element"> {{element.carName}} </td>
        </ng-container>

        <ng-container matColumnDef="carData">
            <th mat-header-cell *matHeaderCellDef> Данные машины</th>
            <td mat-cell *matCellDef="let element"> {{element.carData}} </td>
        </ng-container>

        <ng-container matColumnDef="carNumber">
            <th mat-header-cell *matHeaderCellDef> Номер машины</th>
            <td mat-cell *matCellDef="let element"> {{element.carNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Статус</th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <ng-container matColumnDef="driverLicense">
            <th mat-header-cell *matHeaderCellDef> Категория</th>
            <td mat-cell *matCellDef="let element"> {{element.driverLicense}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<div mat-dialog-actions align="right">
    <button mat-raised-button color="primary" (click)="addMover()">Добавить Водителя</button>
</div>
